<h1>{{title}}</h1>
<form action="{{action}}" method="post" class="flex-form">
    <!-- TODO prefill fields -->
    <div>
        <label for="inputTitle">Title</label>
        <input type="text" id="inputTitle" name="title" value="{{note.title}}"/>
    </div>
    <div>
        <label for="inputDescription">Description</label>
        <textarea id="inputDescription" name="description">{{note.description}}</textarea>
    </div>
    <div>
        <label for="inputImportance">Importance</label>
        <input type="number" id="inputImportance" name="importance" min="1" max="5" value="{{note.importance}}"/>
    </div>
    <div>
        <label for="inputDueDate">Due Date</label>
        <input type="date" id="inputDueDate" name="dueDate" placeholder="Format: YYYY-MM-DD" value="{{moment note.dueDate format='YYYY-MM-DD'}}"/>
    </div>
    <div>
        <label>
            <input type="checkbox" name="finished" {{#if note.finished}}checked="checked"{{/if}}"/>
            Finished
        </label>
    </div>
    <button type="submit">Save</button>
    <a href="/">Cancel</a>
</form>
