<h1>{{title}}</h1>
<form action="{{action}}" method="post" class="flex-form">
    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input class="form-control" type="text" id="inputTitle" name="title" value="{{note.title}}" required/>
    </div>
    <div class="form-group">
        <label for="inputDescription">Description</label>
        <textarea class="form-control" id="inputDescription" name="description">{{note.description}}</textarea>
    </div>
    <div class="form-group">
        <label for="inputImportance">Importance</label>
        <input class="form-control" type="number" id="inputImportance" name="importance" min="1" max="5" value="{{note.importance}}" required/>
    </div>
    <div class="form-group">
        <label for="inputDueDate">Due Date</label>
        <input class="form-control" type="date" id="inputDueDate" name="dueDate" placeholder="Format: YYYY-MM-DD"
               value="{{moment note.dueDate format='YYYY-MM-DD'}}" pattern="^(\d{4})-(\d{2})-(\d{2})" required/>
    </div>
    <div class="form-group">
        <div class="imaginary-label"></div>
        <label class="form-control">
            <input type="checkbox" name="finished" {{#if note.finished}}checked="checked"{{/if}}/>
            Finished
        </label>
    </div>
    <div class="form-group">
        <div class="imaginary-label"></div>
        <div class="form-control">
            <button class="button" type="submit">Save</button>
            <a href="/">Cancel</a>
        </div>
    </div>
</form>
