<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p><a href="/notes/new" title="Create new Note">Create new Note</a></p>
<div class="row">
    <a class="button" href="/notes/new" >Create new note</a>
    <a class="button">Switch style</a>
</div>

<div class="row">
    {{#if-eq orderBy "dueDate"}}
        <a class="button" href="?sort=dueDate_desc">By due date</a>
    {{else}}
        <a class="button" href="?sort=dueDate">By due date</a>
    {{/if-eq}}
    {{#if-eq orderBy "createDate"}}
        <a class="button" href="?sort=createDate_desc">By create date</a>
    {{else}}
        <a class="button" href="?sort=createDate">By create date</a>
    {{/if-eq}}
    {{#if-eq orderBy "importance"}}
        <a class="button" href="?sort=importance_desc">By importance</a>
    {{else}}
        <a class="button" href="?sort=importance">By importance</a>
    {{/if-eq}}
    
    <!--TODO switch show / Hide finished-->
    <a class="button" href="?show_finished">Show finished</a>
</div>

<div>
    <!-- TODO replace with real interface; this is just for testing sorting/filters -->
    {{#each notes}}
        <dl>
            <dt>Title</dt> <dd>{{title}}</dd>
            <dt>Desc</dt> <dd>{{description}}</dd>
            <dt>Importance</dt> <dd>{{importance}}</dd>
            <dt>CreateDate</dt> <dd>{{createDate}}</dd>
            <dt>DueDate</dt> <dd>{{dueDate}}</dd>
            <dt>Finished</dt> <dd>{{finished}}</dd>
        </dl>
    {{/each}}
</div>