<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p><a href="/notes/new" title="Create new Note">Create new Note</a></p>
<div class="row">
    <a class="button" href="/notes/new" >Create new note</a>
{{#if-eq theme "dark"}}
    <a class="button" href="{{filter-url ../orderby ../finished}}&theme=default">Switch style</a>
{{else}}
    <a class="button" href="{{filter-url ../orderby ../finished}}&theme=dark">Switch style</a>
{{/if-eq}}
</div>

<div class="row">
    {{#if-eq orderBy "dueDate"}}
        <a class="button" href="{{filter-url 'dueDate_desc' ../finished}}">By due date</a>
    {{else}}
        <a class="button" href="{{filter-url 'dueDate' ../finished}}">By due date</a>
    {{/if-eq}}
    {{#if-eq orderBy "createDate"}}
        <a class="button" href="{{filter-url 'createDate_desc' ../finished}}">By create date</a>
    {{else}}
        <a class="button" href="{{filter-url 'createDate' ../finished}}">By create date</a>
    {{/if-eq}}
    {{#if-eq orderBy "importance"}}
        <a class="button" href="{{filter-url 'importance_desc' ../finished}}">By importance</a>
    {{else}}
        <a class="button" href="{{filter-url 'importance' ../finished}}">By importance</a>
    {{/if-eq}}

    {{#if finished}}
        <a class="button" href="{{filter-url orderBy 'false'}}">Hide finished</a>
    {{else}}
        <a class="button" href="{{filter-url orderBy 'true'}}">Show finished</a>
    {{/if}}
</div>

<div>
    <!-- TODO replace with real interface; this is just for testing sorting/filters -->
    {{#each notes}}
        <dl>
            <dt>Title</dt> <dd>{{title}}</dd>
            <dt>Desc</dt> <dd>{{description}}</dd>
            <dt>Importance</dt> <dd>{{importance}}</dd>
            <dt>CreateDate</dt> <dd>{{createDate}}</dd>
            <dt>DueDate</dt> <dd>{{dueDate}}</dd>
            <dt>Finished</dt> <dd>{{finished}}</dd>
        </dl>
    {{/each}}
</div>