<h1>{{title}}</h1>
<nav >
    <a class="button" href="/notes/new" >Create new note</a>
    <div class="spacer"></div>
{{#if-eq theme "dark"}}
    <a class="button" href="{{filter-url ../orderby ../finished}}&theme=default">Switch style</a>
{{else}}
    <a class="button" href="{{filter-url ../orderby ../finished}}&theme=dark">Switch style</a>
{{/if-eq}}
</nav>
<section about="filters" class="filters" >
    {{#if-eq orderBy "dueDate"}}
        <a class="button descending active" href="{{filter-url 'dueDate_desc' ../finished}}">By due date</a>
    {{else}}
        <a class="button {{#if-eq ../orderBy "dueDate_desc"}}ascending active{{/if-eq}}" href="{{filter-url 'dueDate' ../finished}}">By due date</a>
    {{/if-eq}}

    {{#if-eq orderBy "createDate"}}
        <a class="button descending active" href="{{filter-url 'createDate_desc' ../finished}}">By create date</a>
    {{else}}
        <a class="button {{#if-eq ../orderBy "createDate_desc"}}ascending active{{/if-eq}}" href="{{filter-url 'createDate' ../finished}}">By create date</a>
    {{/if-eq}}
    {{#if-eq orderBy "importance"}}
        <a class="button descending active" href="{{filter-url 'importance_desc' ../finished}}">By importance</a>
    {{else}}
        <a class="button {{#if-eq ../orderBy "importance_desc"}}ascending active{{/if-eq}}" href="{{filter-url 'importance' ../finished}}">By importance</a>
    {{/if-eq}}

    <div class="spacer"></div>

    {{#if finished}}
        <a class="button last" href="{{filter-url orderBy 'false'}}">Hide finished</a>
    {{else}}
        <a class="button last" href="{{filter-url orderBy 'true'}}">Show finished</a>
    {{/if}}
</section>
<main about="notes" class="notes">
    {{#if notes.length}}
    {{#each notes}}
        <div class="note">
            <div class="note-heading">
        <div class="duedate"><time datetime="{{moment note.dueDate format='YYYY-MM-DDThh:mm:ss'}}">{{#moment d "to" dueDate }}{{dueDate}}{{/moment}}</time></div>
                <div>{{title}}</div>
                <div class="spacer"></div>
                <div class="importance">{{#times importance}}&#9733;{{/times}}</div>
                <div class="imaginary-button"></div>
            </div>
            <div class="note-body">
                <label><input type="checkbox" disabled {{#if finished}}checked="checked"{{/if}}> Finished</label>
                <textarea class="description" disabled>{{description}}</textarea>
                <a class="button edit" href="/notes/{{_id}}">Edit</a>
            </div>
        </div>
    {{/each}}
    {{else}}
        <p class="no-elements">There are no notes to display. Create a new note ;)</p>
    {{/if}}
</main>