<h1>{{title}}</h1>
<section class="navigation" >
    <a class="button" href="/notes/new" >Create new note</a>
    <a class="button right" >Switch style</a>
</section>
<section class="filters">

<div class="row">
    {{#if-eq orderBy "dueDate"}}
        <a class="button" href="{{filter-url 'dueDate_desc' ../finished}}">By due date</a>
    {{else}}
        <a class="button" href="{{{filter-url 'dueDate' ../finished}}}">By due date</a>
    {{/if-eq}}

    {{#if-eq orderBy "createDate"}}
        <a class="button" href="{{{filter-url 'createDate_desc' ../finished}}}">By create date</a>
    {{else}}
        <a class="button" href="{{{filter-url 'createDate' ../finished}}}">By create date</a>
    {{/if-eq}}
    {{#if-eq orderBy "importance"}}
        <a class="button" href="{{{filter-url 'importance_desc' ../finished}}}">By importance</a>
    {{else}}
        <a class="button" href="{{{filter-url 'importance' ../finished}}}">By importance</a>
    {{/if-eq}}

    {{#if finished}}
        <a class="button" href="{{filter-url orderBy 'false'}}">Hide finished</a>
    {{else}}
        <a class="button" href="{{filter-url orderBy 'true'}}">Show finished</a>
    {{/if}}
</div>

<section class="notes">
    <!-- TODO replace with real interface; this is just for testing sorting/filters -->
    {{#each notes}}
        <div class="note">
            <div >
                <div ><time datetime="{{dueDate}}">{{#moment d "to" dueDate }}{{dueDate}}{{/moment}}</time></div>
                <div>{{title}}</div>
                <div class="right">{{#times importance}}*{{/times}}</div>
            </div>
            <div >
                <div><input name="cbxFinished" type="checkbox" disabled {{#if finished}}checked="checked"{{/if}}"><label for="cbxFinished" >Finished</label>
                </div>
                <div><textarea name="taDescription" disabled>{{description}}</textarea></div>
               <div> <a class="button" href="/notes/{{_id}}">Edit</a></div>
            </div>
        </div>
    {{/each}}
</section>