<h1>{{title}}</h1>
<section class="navigation" >
    <a class="button" href="/notes/new" >Create new note</a>
    <a class="button right" >Switch style</a>
</section>
<section class="filters">

    {{#if-eq orderBy "dueDate"}}
        <a class="button" href="?sort=dueDate_desc">By due date</a>
    {{else}}
        <a class="button" href="?sort=dueDate">By due date</a>
    {{/if-eq}}

    {{#if-eq orderBy "createDate"}}
        <a class="button" href="?sort=createDate_desc">By create date</a>
    {{else}}
        <a class="button" href="?sort=createDate">By create date</a>
    {{/if-eq}}
    {{#if-eq orderBy "importance"}}
        <a class="button" href="?sort=importance_desc">By importance</a>
    {{else}}
        <a class="button" href="?sort=importance">By importance</a>
    {{/if-eq}}

    <!--TODO switch show / Hide finished-->
    <a class="button" href="?{{query}}">Show finished</a>
</section>

<section class="notes">
    <!-- TODO replace with real interface; this is just for testing sorting/filters -->
    {{#each notes}}
        <div class="note">
            <div >
                <div ><time datetime="{{dueDate}}">{{dueDate}}</time></div>
                <div>{{title}}</div>
                <div class="right">{{#times importance}}*{{/times}}</div>
            </div>
            <div >
                <div><input name="cbxFinished" type="checkbox" disabled {{#if finished}}checked="checked"{{/if}}"><label for="cbxFinished" >Finished</label>
                </div>
                <div><textarea name="taDescription" disabled>{{description}}</textarea></div>
               <div> <a class="button" href="/notes/{{_id}}">Edit</a></div>
            </div>
        </div>
    {{/each}}
</section>